<?xml version='1.0' encoding='utf-8'?>
<widget id="com.modemi4.safesteiermark" version="1.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0"
xmlns:android="http://schemas.android.com/apk/res/android"
xmlns:cdv="http://cordova.apache.org/ns/1.0"
android-versionCode="10001">
    <name>Sichere Steiermark</name>
    <description>
        Die Steiermark sicherer machen – Angsträume entschärfen!
    </description>
    <author email="vasea.tshuh@gmail.com" href="https://www.sicherheit.st/">
        Vasyl Chukhilevych
    </author>
    <content src="index.html" />
    <access origin="*" />
	<access origin="tel:*" launch-external="yes"/>
	<access origin="mailto:*" launch-external="yes"/>
	<allow-intent href="http://*/*" />
	<allow-intent href="https://*/*" />
	<preference name="SplashMaintainAspectRatio" value="true" />
	<icon src="www/res/icon.png" />
	<splash src="www/res/splash.png" />
	<preference name="scheme" value="app" />
	<preference name="hostname" value="localhost" />
	<platform name="android">
		<edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
			<application android:usesCleartextTraffic="true" />
		</edit-config>
		<config-file target="AndroidManifest.xml" parent="/manifest">
			<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
			<uses-permission android:name="android.permission.INTERNET"/>
			<uses-permission android:name="android.permission.CAMERA" />
			<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
			<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
		</config-file>
		
	</platform>
</widget>
